html,body {
    height: 100%;
}

/*font-family: "open-sans";*/



body {
    font-family: "museo-sans";
    border-top: 6px solid #1f5069;
}

body.home {
    background-image: url(../img/bg-main-xl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.btn {
    border-radius: 0;
    padding: 0.8em 2.4em;
    text-transform: uppercase;
    border-width: 3px;
} 

.btn-primary {
    background-color: rgba(255,255,255,0.2);
    border-color: #fff;
}

.home .content {
    color: #fff;
    height: 100vh;
    margin-top: -80px;
}

.home .inner-content {
    text-align: center;
}

.home h1 {
    text-transform: uppercase;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #1f5069;
    padding: 3em 0 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-nav li {
    display: inline;
    list-style: none;
}

.footer-nav a {
    color: #fff;
    text-decoration: underline;
}

.footer-nav li::after {
    content: "|";
    color: #fff;
    padding: 0 1em;
    font-size: 1.3em;
    font-weight: 100;
}

.footer-nav li:last-of-type::after {
    content: "";
    display: none;
}

